/* INICIO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.8;
  font-size: 1.1rem;
  color: black; }

a {
  color: black;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: all 0.6s !important; }
  a:hover {
    color: orange !important;
    transform: scale(1.1) !important; }

.novedadesItem {
  width: 20px;
  margin: 10px; }

.h1ContainerIni {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; }

.h1Inicio {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #c04444; }

nav {
  z-index: 2; }
  nav a {
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s; }
    nav a:hover {
      transform: scale(1.1);
      color: orange; }

.navBarColor {
  background-image: radial-gradient(red, #c03f18); }

.tituloNovedades {
  list-style-type: circle;
  font-size: 25px;
  font-weight: 400px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 10px;
  margin: 25px 0px;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
  transition: 0.3s; }
  .tituloNovedades:hover {
    color: red; }

.containerTarjeta {
  display: flex;
  justify-content: start;
  margin-right: 40px;
  padding: 35px; }

/* .containerTarjeta {
    display: flex;
    justify-content: start;
    margin-right: 40px;
    padding: 35px;
} */
.tituloDeTarjeta {
  display: flex;
  justify-content: center; }

.boton {
  background: #ce0627;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 100px; }
  .boton:hover {
    background: #ac0521;
    color: #ffb120; }

.conoceBaicTitle {
  font-size: 30px;
  padding: 10px 10px;
  margin: 50px 5px;
  text-align: center;
  position: relative;
  top: 150px;
  color: #c04444; }

.conoceBAICcontainer {
  display: flex;
  justify-content: center; }

.conoceBaicDesc {
  position: relative;
  top: 80px;
  font-size: 1.1rem;
  height: 10px;
  width: 80vw;
  text-align: center;
  line-height: 1.8;
  position: relative;
  padding-top: 45px;
  padding: 2rem; }

.containerMarcaBaic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 0px; }

.marcaBaic {
  min-width: 300px;
  margin: 20px auto; }

.imgAsideX35 {
  width: 100%;
  display: flex;
  justify-content: center; }

.imgSubtitle {
  width: 550px;
  height: 400px;
  min-width: 300px; }

/* .imgSubtitle {
    width: 550px;
    height: 400px;
} */
aside img {
  width: 48vw;
  height: 48vh; }

.containerx55Honor {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.containerHonorImg {
  width: 100%;
  display: flex;
  justify-content: start; }

.baicHonorImg {
  height: 10vh;
  width: 10vw;
  /*  bottom: 50px; */ }

.honorImg {
  width: 550px;
  height: 400px;
  min-width: 300px; }

.baicHonorDesc {
  font-size: 1rem;
  line-height: 1.7;
  height: 220px;
  width: 40vw;
  min-width: 30vw;
  text-align: left;
  position: relative;
  bottom: 180px;
  left: 680px;
  padding-top: 55px;
  padding-bottom: 10px;
  padding: 50px; }

.baicHonorDescContainer {
  min-width: 250px;
  margin: 20px auto; }

.containerNovedades {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

/* .containerNovedades {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;



} */
.baic-electric, .senovaSidebar, .baicPilar {
  width: 280px;
  height: 200px;
  transition: transform 1s; }
  .baic-electric:hover, .senovaSidebar:hover, .baicPilar:hover {
    transform: scale(1.1); }

/* .senovaSidebar {
    width: 270px;
    height: 200px;
    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
    
} */
.baicPilar {
  height: 190px; }

/* .baicPilar {
    width: 240px;
    height: 190px;
    transition: transform 1s;
    &:hover{
        transform: scale(1.1);
    }

} */
.sidebar {
  margin: 10px;
  padding: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%; }

.textAside {
  margin-right: 20px;
  padding: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  header {
    height: 140px; }
  .logoBaic {
    width: 15vw;
    height: 10vh; }
  header nav ul li {
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    display: inline;
    position: relative;
    left: 100px; }
  .h1ContainerIni {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .gridConoceBaic {
    display: flex;
    justify-content: center; }
  .conoceBaicTitle {
    margin: 40px 20px; }
  .conoceBaicDesc {
    font-size: 1rem;
    margin-bottom: 100px; }
  .tituloNovedades {
    margin-top: 100px;
    font-size: 20px; }
  .containerMarcaBaic {
    display: flex;
    flex-direction: column; }
  .gridConoceBaic {
    display: grid;
    grid-template-columns: 85%; }
  .imgSubtitle {
    width: 400px;
    height: 370px;
    margin-right: 10px; }
  .h2Baic {
    margin: 50px;
    padding: 20px;
    font-size: 2rem; }
  .marcaBaic {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: start; }
  .containerMarcaBaic {
    display: flex;
    flex-direction: column; }
  .imgAsidex35 {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center; }
  .imgSubtitle {
    width: 400px;
    display: flex;
    justify-content: center; }
  .containerHonorImg {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center; }
  .honorImg {
    width: 20px;
    min-width: 300px;
    display: flex;
    justify-content: center; }
  .containerHonor {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .pBaichonor {
    font-size: 1rem; }
  .honorContainer {
    display: flex;
    justify-content: center; }
  .containerNovedades {
    margin-bottom: 400px;
    display: flex;
    flex-direction: column; }
  .sidebar {
    margin: 10px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%; }
  .textAside {
    margin: 0px;
    padding: 0px; }
  /* display: flex;
    .imgNovedades {
        justify-content: center;
        align-items: center 
        
    }
    ;*/
  .baicPilar {
    margin: 10px;
    width: 280px; }
  footer {
    width: 100%; } }

footer {
  background-color: #545050;
  width: 100%; }
  footer h4 {
    font-style: italic; }
    footer h4 a {
      color: #a59f9f;
      font-family: "Times New Roman", Times, serif;
      border: none;
      transition: color 1s, transform 2s, border-bottom 1s; }
      footer h4 a:hover {
        color: orange;
        transform: scale(1.1);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 2px red; }

.modelosFooter {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15;
  align-items: center; }

.footerPages {
  display: flex;
  justify-content: space-around; }

.nosotrosFooter {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15;
  align-items: center;
  color: black; }

/* Sobre BAIC */
.h2BAICNovedades {
  display: flex;
  justify-content: center;
  color: #ae0723;
  margin: 50px;
  padding: 20px; }

.img1984 {
  display: flex;
  flex-direction: left;
  margin-left: 10px; }

.text1984 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding: 5px;
  margin: 5px;
  margin-bottom: 70px;
  position: relative;
  left: 0px; }

.elPrimerAutoCompleto {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
  margin: 30px;
  text-align: left; }

.title1996 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img1996 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text1996 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.title2002 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img2002 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text2002 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.titlePrimerMercedesBenzNivelNacional {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img2006 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text2006 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.titleBaicMotor2009 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img2009 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text2009 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.primeraMarcaIndependiente2012 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img2012 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text2012 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.title20122 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img20122 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text20122 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.title2013 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img2013 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text2013 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.title20132 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img20132 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.img20132 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text20132 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.title20133 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left; }

.img20133 {
  display: flex;
  flex-direction: left;
  margin-left: 35px; }

.text20133 {
  font-size: 1.1rem;
  height: 10vh;
  width: 60vw;
  line-height: 2.0;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding: 7px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  left: 0px; }

.gridContainerBaic {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

p {
  font-size: 1,1rem;
  line-height: 1,7;
  height: 100px;
  width: 500px;
  margin: 50px;
  margin-top: 0px;
  padding: 2px; }
  p img {
    margin: 20px;
    padding: 10px; }

.baicArgentina {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
  height: 50vh;
  width: 100%;
  font-size: 17px; }

.tituloCardUno {
  display: flex;
  justify-content: center; }

.cartaNosotros {
  display: flex;
  justify-content: center; }
