* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.8;
  font-size: 1.1rem;
  color: black; }

a {
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', sans;
  transition: all 0.6s !important; }
  a:hover {
    color: orange !important;
    transform: scale(1.1) !important; }

.novedadesItem {
  width: 20px;
  margin: 10px; }

.h1ContainerIni {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; }

.h1Inicio {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #c04444; }

nav {
  z-index: 2; }
  nav a {
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s; }
    nav a:hover {
      transform: scale(1.1);
      color: orange; }

.navBarColor {
  background-image: radial-gradient(#ff1d1d, #dc5c35); }

.tituloNovedades {
  list-style-type: circle;
  font-size: 25px;
  font-weight: 400px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 10px;
  margin: 25px 0px;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
  transition: 0.3s; }
  .tituloNovedades:hover {
    color: red; }

.containerTarjeta {
  display: flex;
  justify-content: start;
  margin-right: 40px;
  padding: 35px; }

/* .containerTarjeta {
    display: flex;
    justify-content: start;
    margin-right: 40px;
    padding: 35px;
} */
.tituloDeTarjeta {
  display: flex;
  justify-content: center; }

.boton {
  background: #ce0627;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 100px; }
  .boton:hover {
    background: #ac0521;
    color: #ffb120; }

.conoceBaicTitle {
  font-size: 30px;
  padding: 10px 10px;
  margin: 50px 5px;
  text-align: center;
  position: relative;
  top: 150px;
  color: #c04444; }

.conoceBAICcontainer {
  display: flex;
  justify-content: center; }

.conoceBaicDesc {
  position: relative;
  top: 80px;
  font-size: 1.1rem;
  height: 10px;
  width: 80vw;
  text-align: center;
  line-height: 1.8;
  position: relative;
  padding-top: 45px;
  padding: 2rem; }

.containerMarcaBaic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 0px; }

.marcaBaic {
  min-width: 300px;
  margin: 20px auto; }

.imgAsideX35 {
  width: 100%;
  display: flex;
  justify-content: center; }

.imgSubtitle {
  width: 550px;
  height: 400px;
  min-width: 300px; }

/* .imgSubtitle {
    width: 550px;
    height: 400px;
} */
aside img {
  width: 48vw;
  height: 48vh; }

.containerx55Honor {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.containerHonorImg {
  width: 100%;
  display: flex;
  justify-content: start; }

.baicHonorImg {
  height: 10vh;
  width: 10vw;
  /*  bottom: 50px; */ }

.honorImg {
  width: 550px;
  height: 400px;
  min-width: 300px; }

.baicHonorDesc {
  font-size: 1rem;
  line-height: 1.7;
  height: 220px;
  width: 40vw;
  min-width: 30vw;
  text-align: left;
  position: relative;
  bottom: 180px;
  left: 680px;
  padding-top: 55px;
  padding-bottom: 10px;
  padding: 50px; }

.baicHonorDescContainer {
  min-width: 250px;
  margin: 20px auto; }

.containerNovedades {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.baic-electric, .senovaSidebar, .baicPilar {
  width: 280px;
  height: 200px;
  transition: transform 1s; }
  .baic-electric:hover, .senovaSidebar:hover, .baicPilar:hover {
    transform: scale(1.1); }

.baicPilar {
  height: 190px; }

.sidebar {
  margin: 10px;
  padding: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%; }

.textAside {
  margin-right: 20px;
  padding: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  header {
    height: 140px; }
  .logoBaic {
    width: 15vw;
    height: 10vh; }
  header nav ul li {
    font-size: 20px;
    margin: 0px;
    padding: 15px;
    display: inline;
    position: relative;
    left: 100px; }
  .h1ContainerIni {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  .gridConoceBaic {
    display: flex;
    justify-content: center; }
  .conoceBaicTitle {
    margin: 40px 20px; }
  .conoceBaicDesc {
    font-size: 1rem;
    margin-bottom: 100px; }
  .tituloNovedades {
    margin-top: 100px;
    font-size: 20px; }
  .containerMarcaBaic {
    display: flex;
    flex-direction: column; }
  .gridConoceBaic {
    display: grid;
    grid-template-columns: 85%; }
  .imgSubtitle {
    width: 400px;
    height: 370px;
    margin-right: 10px; }
  .h2Baic {
    margin: 50px;
    padding: 20px;
    font-size: 2rem; }
  .marcaBaic {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: start; }
  .containerMarcaBaic {
    display: flex;
    flex-direction: column; }
  .imgAsidex35 {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center; }
  .imgSubtitle {
    width: 400px;
    display: flex;
    justify-content: center; }
  .containerHonorImg {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center; }
  .honorImg {
    width: 20px;
    min-width: 300px;
    display: flex;
    justify-content: center; }
  .containerHonor {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .pBaichonor {
    font-size: 1rem; }
  .honorContainer {
    display: flex;
    justify-content: center; }
  .containerNovedades {
    margin-bottom: 400px;
    display: flex;
    flex-direction: column; }
  .sidebar {
    margin: 10px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%; }
    .sidebar img {
      max-width: 100%; }
  .textAside {
    margin: 0px;
    padding: 0px; }
  /* display: flex;
    .imgNovedades {
        justify-content: center;
        align-items: center 
        
    }
    ;*/
  .baicPilar {
    margin: 10px;
    width: 280px; }
  footer {
    width: 100%; } }

footer {
  background-color: #373434;
  width: 100%;
  height: 300px;
  font-family: sans-serif; }
  footer h2 {
    color: #A30005;
    font-size: 2rem;
    font-family: 'Cairo', sans-serif; }
    footer h2 li {
      list-style-type: none;
      font-family: sans-serif; }
      footer h2 li a {
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        transition: transform 1s, color 0.5s; }
        footer h2 li a a:hover {
          color: orange;
          transform: scale(1.1); }

.containerFooter {
  display: flex;
  justify-content: space-around; }

.containerFooterNosotros {
  align-items: center; }

.containerRedes {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #d04242;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: red;
  transition: background-color 0.5s, transform 1s; }

.icon:hover {
  background-color: #afadad;
  transform: scale(1.4); }

@media screen and (max-width: 768px) {
  .containerNosotros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px auto; }
  footer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer li {
    display: flex;
    justify-content: center; }
  footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px; }
  .containerAllFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .containerImg {
    width: 100%;
    margin: 0 auto; }
  .containerNosotros img {
    max-width: 100%; }
  .icon {
    background-color: white;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: background-color 0.5s, transform 1s; }
  .icon:hover {
    background-color: #afadad;
    transform: scale(1.1); }
  .containerRedes {
    display: flex;
    justify-content: space-between; }
  .containerFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

.h1BAIC {
  width: 100%;
  display: flex;
  justify-content: center; }

.titleNosotros {
  display: flex;
  justify-content: center;
  margin: 100px;
  padding: 16px;
  font-family: sans-serif;
  display: flex;
  justify-content: start;
  font-size: 2rem;
  color: #d04242; }

.containerNosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px; }
  .containerNosotros img {
    width: 300px; }

.containerImg {
  width: 100px; }

.containerNosotros h2 {
  color: #c04444;
  margin: 30px;
  padding: 15px; }

.containerNosotros p {
  margin: 30px;
  padding: 15px; }

footer {
  background-color: #373434;
  width: 100%;
  height: 300px;
  font-family: sans-serif; }

footer h2 {
  color: #A30005;
  font-size: 2rem;
  font-family: 'Cairo', sans-serif; }

footer ul li {
  list-style-type: none; }

footer ul li a {
  text-decoration: none;
  color: white;
  transition: transform 1s, color 0.5s; }

footer ul li a:hover {
  color: orange;
  transform: scale(1.1); }

.containerFooter {
  display: flex;
  justify-content: space-around; }

.containerFooterNosotros {
  align-items: center; }

.containerRedes {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  display: flex;
  justify-content: center;
  color: #d04242; }

.icon {
  background-color: white;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: red;
  transition: background-color 0.5s, transform 1s; }

.icon:hover {
  background-color: #afadad;
  transform: scale(1.4); }

@media screen and (max-width: 768px) {
  .containerNosotros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px auto; }
  footer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer li {
    display: flex;
    justify-content: center; }
  footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px; }
  .containerAllFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .containerImg {
    width: 100%;
    margin: 0 auto; }
  .containerNosotros img {
    max-width: 100%; }
  .icon {
    background-color: white;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: background-color 0.5s, transform 1s; }
  .icon:hover {
    background-color: #afadad;
    transform: scale(1.1); }
  .containerRedes {
    display: flex;
    justify-content: space-between; }
  .containerFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 768px) {
  .containerNosotros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px auto; }
  footer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer li {
    display: flex;
    justify-content: center; }
  footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px; }
  .containerAllFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .containerImg {
    width: 100%;
    margin: 0 auto; }
  .containerNosotros img {
    max-width: 100%; }
  .icon {
    background-color: white;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: background-color 0.5s, transform 1s; }
  .icon:hover {
    background-color: #afadad;
    transform: scale(1.1); }
  .containerRedes {
    display: flex;
    justify-content: space-between; }
  .containerFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }
