.titleConcesionarios {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 34px;
    max-width: 100%;
    color: #b30c12;
}

.concesionariosTable {
    display: flex;
    justify-content: center;
    max-width: 100%;
    & td{
        margin: 10px;
    padding: 6px;
    line-height: 2;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
}

.verUbicacionBtn {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.botonConces {
    background-color: #9d0208;
    margin-bottom: 50px;
    transition: all 0.6s;
    &:hover{
        background-color: #821418;
        color: orange;
    }
}

.containerCarousel{
    width: 500px;
    margin: 40px auto; 
    padding: 16px; 
    max-width: 100%;
}



