.h2Baic{
    padding: 20px;
}

.containerMarcaBaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0px ;
    
}
.marcaBaic {
    min-width: 300px;
    margin: 20px auto;

}
@mixin imgCar ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.imgAsideX35{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.imgSubtitle {
    @include imgCar(550px, 400px);
    min-width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    
    
}

aside img {
    width: 48vw;
    height: 48vh;

}