@media screen and (max-width: 768px) {
    .containerConGrid {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 400px;
        font-size: 1rem;
    }
    .form-section{
        max-width: 90%;
        width: 400px;
        
    }
    .h1contacto{
        font-size: 1.8rem;
        margin: 20px;
        padding: 18px;
    }

}