.h2BAICNovedades{
    display: flex;
    justify-content: center;
    color:#ae0723;
    margin: 50px;
    padding: 20px;
}

.img1984 {
    display: flex;
    flex-direction: left;
    margin-left: 10px;
}
.text1984 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding: 5px;
    margin: 5px;
    margin-bottom: 70px;
    position: relative;
    left: 0px;
}

.elPrimerAutoCompleto {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    margin: 30px;
    text-align: left;
}
.title1996 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img1996 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text1996 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.title2002 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img2002 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text2002 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.titlePrimerMercedesBenzNivelNacional {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img2006 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text2006 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.titleBaicMotor2009 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img2009 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text2009 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.primeraMarcaIndependiente2012 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img2012 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text2012 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.title20122 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img20122 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text20122 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.title2013 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img2013 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text2013 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.title20132 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img20132 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.img20132 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text20132 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.title20133 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.img20133 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}
.text20133 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}
.gridContainerBaic {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.gridContainerBaic{

} p {
    font-size: 1,1rem;
    line-height: 1,7;
    height: 100px;
    width: 500px;
    margin: 50px;
    margin-top: 0px;
    padding: 2px;
    img {
        margin: 20px;
        padding: 10px;
    }
   
}
.baicArgentina {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2;
    height: 50vh;
    width: 100%;
    font-size: 17px;
    
}
.tituloCardUno {
    display: flex;
    justify-content: center;
}
.cartaNosotros {
    display: flex;
    justify-content: center;
}