
.h1BAIC{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.titleNosotros{
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: 16px;
    font-family:sans-serif;
    display: flex;
    justify-content: start;
    font-size: 2rem;
    color: #d04242;
   

}

.containerNosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    & img{
        width: 300px;
    }
}
.titleHistoriaBAIC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a59999;
    box-shadow: 5px 5px 4px 3px #afafaf;
}

.containerImg{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerNosotros h2{
    color: white;
    margin: 30px;
    padding: 15px;
}
.containerNosotros p{
    margin: 30px;
    padding: 15px;
}

footer{
    background-color: rgb(55, 52, 52);
    width: 100%;
    height: 300px;
    font-family: sans-serif;
}
footer h2{
    color: #A30005;
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
}



footer ul li{
    list-style-type: none;
}
footer ul li a{
    text-decoration: none;
    color: white;
    transition: transform 1s, color 0.5s ;
}
footer ul li a:hover{
    color: orange;
    transform: scale(1.1);
}
.containerFooter{
    display: flex;
    justify-content: space-around;
    
}
.containerFooterNosotros{
    align-items: center;
}
.containerRedes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    color:#d04242;
}
.icon{
    background-color: white;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: red;
    transition: background-color 0.5s, transform 1s;
}
.icon:hover{
    background-color: rgb(175, 173, 173);
    transform: scale(1.4);


}


@media screen and (max-width: 768px){
    .containerNosotros{
        display: flex;
        flex-direction: column;
    justify-content: start;
    margin: 10px auto;
    }
   
    footer{
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer li{
        display: flex;
        justify-content: center;
    }
    footer h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    .containerAllFooter{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .containerImg{
        width: 100%;
        margin: 0 auto;
    }
    .containerNosotros img{
        max-width: 100%;
        
        
    }
    .icon{
        background-color: white;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        transition: background-color 0.5s, transform 1s;
    }
    .icon:hover{
        background-color: rgb(175, 173, 173);
        transform: scale(1.1);
    }
    .containerRedes{
        display: flex;
        justify-content: space-between;
    }
    .containerFooter{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}