                            /*INICIO*/
* {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}



nav{
    z-index: 2;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
        transition: all 1s;
}
nav a:hover{
    transform: scale(1.1);
    color: orange;
}
.colordrop{
    background-color: #E5E5E5;
}

.navBarColor {
    background-color: #E5E5E5;
}
a{
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', sans;
  transition: all 0.6s !important;
}
a:hover{
    color: orange !important;
    transform: scale(0.9) !important;
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8;
    font-size: 1.1rem;
    color: black;

}





.tituloNovedades {
    list-style-type: circle;
    font-size: 25px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding: 10px;
    margin: 25px 0px;
    margin-bottom: 100px;
    position: relative;
    top: 40px;
    transition: 0.3s;

}
.tituloNovedades:hover {
    color: red;
}
.containerTarjeta {
    display: flex;
    justify-content: start;
    margin-right: 40px;
    padding: 35px;
}
.tituloDeTarjeta {
    display: flex;
    justify-content: center;
}
.boton {
    background: #ce0627;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 100px;
}
.boton:hover {
    background: #ac0521 ;
    color: rgb(255, 177, 32);
}
.conoceBaicTitle {
    font-size: 30px;
    padding: 10px 10px;
    margin: 50px 5px;
    text-align: center;
    position: relative;
    top: 150px;
    color: rgb(192, 68, 68);
}

.conoceBAICcontainer {
    display: flex;
    justify-content: center;
}
.conoceBaicDesc {
    position: relative;
    top: 80px;
    font-size: 1.1rem;
    height: 10px;
    width: 80vw;
    text-align: center;
    line-height: 1.8;
    position: relative;
    padding-top: 45px;
    padding: 2rem;
}


/* .h2Baic {

    font-size: 47px;
    text-align: left;
    font-weight: 500;
    padding: 100px;
    padding-right: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-top: 150px;
    position: relative;




} */

/* .marcaBaic {
    font-size: 1rem;
    line-height: 1.7;
    height: 220px;
    min-width: 250px;
    min-height: 250px;
    width: 40vw;
    text-align: left;
    position: relative;
    bottom: 100px;
    padding-top: 55px;
    padding-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.7;
    min-width: 450px;
    height: 4rem;



} */

/* .imgAside {
    display: inline-block;
    position: relative;
    left: 45%;
    height: 200px;
    min-width: 250px;
    bottom: 400px;



} */
.containerMarcaBaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0px ;
    /* padding: 20px; */
}
.marcaBaic {
    min-width: 250px;
    margin: 20px auto;

}
 

.imgSubtitle {
    width: 550px;
    height: 400px;
}

aside img {
    width: 48vw;
    height: 48vh;

}



a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* .honorContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */

.containerx55Honor {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
   
}
/* .baicHonorDescContainer{
    margin: 50px;
    padding: 30px;
}
 */
.baicHonorImg {
   /*  display: inline-block;
    position: relative; */
    height: 10vh;
    width: 10vw;
    bottom: 50px;

}
.honorImg {
    width: 550px;
    height: 400px;
}

.baicHonorDesc {
    font-size: 1rem;
    line-height: 1.7;
    height: 220px;
    width: 40vw;
    min-width: 30vw;
    text-align: left;
    position: relative;
    bottom: 180px;
    left: 680px;
    padding-top: 55px;
    padding-bottom: 10px;
    padding: 50px;


}
.baicHonorDescContainer {
    min-width: 250px;
    margin: 20px auto;
}

/* SideBar */


.baic-electric {
    width: 270px;
    height: 200px;
    transition: transform 1s;
}
.baic-electric:hover {
    transform: scale(1.1);
}

.senovaSidebar {
    width: 270px;
    height: 200px;
    transition: transform 1s;
}
.senovaSidebar:hover {
    transform: scale(1.1);
}

.baicPilar {
    width: 240px;
    height: 190px;
    transition: transform 1s;

}
.baicPilar:hover {
    transform: scale(1.1);
}

.containerNovedades {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.sidebar {
    margin: 10px;
    padding: 15px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;




}

.textAside {
    margin-right: 20px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    /*  background-color: red; */
}

footer {

    background-color: rgb(84, 80, 80);
    width: 100%;
    



}

.footerPages {
    display: flex;
    justify-content: space-around;

}

footer section article nav h4 {
    font-style: italic;
}
footer section article nav h4 a{
    color: rgb(165, 159, 159);
    font-family: 'Times New Roman', Times, serif;
    border: none;
    transition: color 1s, transform 2s, border-bottom 1s;
}
footer section article nav h4 a:hover {
    color: orange;
    transform: scale(1.1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px red;
}

.modelosFooter {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15;
    align-items: center;
}

.nosotrosFooter {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15;
    align-items: center;



    color: rgb(0, 0, 0);

}

@media screen and (max-width: 768px) {
    header {
        height: 140px;
    }

    .logoBaic {
        width: 15vw;
        height: 10vh;
    }

    header nav ul li {
        font-size: 20px;
        margin: 0px;
        padding: 15px;
        display: inline;
        position: relative;
        left: 100px;
    }
    .gridConoceBaic {
        display: flex;
        justify-content: center;
    }
    .tituloNovedades {
        margin: 100px auto;
        padding: 30px;
    }

    .conoceBaicTitle {
        margin: 40px 20px;

    }
    .conoceBaicDesc {
        font-size: 1rem;
    }
    .containerMarcaBaic {
        display: flex;
        flex-direction: column;

    
    }

    .gridConoceBaic {
        display: grid;
        grid-template-columns: 85%;
    }

    .imgSubtitle {
        width: 400px;
        height: 370px;
        margin-right: 10px;

    }

    

    .h2Baic {
        margin: 50px;
        padding: 20px;
        font-size: 2rem;

    }

    .marcaBaic {
        font-size: 15px;
        position: relative;
        bottom: 70px;
        height: 50vh;
        margin: 20px;
        display: flex;
        justify-content: center;

    }
    .containerMarcaBaic {
        display: flex;
        flex-direction: column;
    }

    .containerMarcaBaic {
        display: flex;
        flex-direction: column;
    }
    .imgSubtitle {
        width: 500px;
    }

.honorImg {
    width: 520px;
    margin-left: 10px;
}

    .containerHonor {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .pBaichonor {
        font-size: 1rem;

    }

    .honorContainer{
        display: flex;
        justify-content: center;
        
    }
    

    

    .containerNovedades {
        margin-bottom: 400px;
        display: flex;
        flex-direction: column;

    }

    .sidebar {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        /*   display: grid;
    grid-template-columns: repeat(2, 1fr); */
        width: 100%;
        height: 50%;
    }

    .textAside {
        margin: 0px;
        padding: 0px;

    }

    /* display: flex;
    .imgNovedades {
        justify-content: center;
        align-items: center 
        
    }
    ;*/

    .baicPilar {
        margin: 30px;
        width: 280px;
    }
    footer {
        width: 100%;
    }

}










                           /* Modelos */






 .containerh1Models{
     width: 100%;
     margin-top: 100px;

 }
 .modelosBAIC{
     display: flex;
     justify-content: center;
     color: #ae0723;
     font-family: sans-serif;
 }
 .containerModelosBAIC{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.containerModelosBAIC  img{
    max-width: 100%;
    width: 400px;
    transition: all 1s;
}
.containerModelosBAIC img:hover{
    transform: scale(0.9);
    max-width: 100%;
}
.infoModelos{
    display: flex;
    justify-content: center;

}

.btncolor{
    background-color: #ac0521;
}
.btncolor:hover{
    color: orange;
    background: #8d0408;
}

.containerEspacio{
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 768px) {
    .infoModelos {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    .widthText{
        max-width: 100%;
        width: 200px;
    }
}







                    /* BAIC Senova */






 .containerBaicx25{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-image:linear-gradient(to right, rgb(242, 242, 242), rgb(250, 247, 247));
 }
 .containerBaicx25 h1{
     display: flex;
     justify-content: center;
     font-size: 4rem;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .descBAICSenova{
     width: 100%;
     height: 20vh;
 }

 .textSenova{
     
     width: 100%;
     height: 50vh;
     font-size: 1rem;
     min-width: 250px;
     margin: 10px auto;
     text-align: center;
     justify-content: center;
     padding: 20px;
 }
 .imgContentBaicSenova img{
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border-radius: 6px;
     
 }
 .baic-senova-equipment{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
     margin: 30px auto;
     
     

 }
 
 
 .all-equipment{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: black 1px solid ;
     margin: 10px;
     
     
 }
 .all-equipment p{
     font-size: 1rem;
     font-family:Arial, Helvetica, sans-serif
 }
 .all-equipment img{
     width: 100px;
     padding: 6px;
     margin: 10px 50px;
     background-color: rgb(247, 247, 247);
     box-shadow: 8px 5px 7px 3px #afafaf;
     border-radius: 50%;
     
     
 }
 
 

 .videoX25{
     max-width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(../Img/Baic-X25-Senova-1.jpg);
     background-size: cover;
     background-blend-mode: soft-light;
     background-color: rgb(100, 100, 100);
     background-position: center;
     height: 70vh;
     
 }

 @media screen and (max-width: 768px){
    .containerBaicx25 h1{
        font-size: 3rem;
    }
     .containerBaicx25{
         display: flex;
         flex-direction: column;
     }
     .textSenova{
         margin: 30px;
     }
     .imgContentBaicSenova img{
         width: 98vw;
     }
     .descBAICSenova{
         padding: auto;
         max-width: 100%;
         font-size: 1rem;
     }
     .all-equipment img{
         width: 80px;
     }
     .all-equipment p{
         font-size: 0.9rem;
     }
     .videoX25{
         background-color: #6c757d;
         height: 50vh;

         
     }
 }


                     /* BAIC X35 */

 .containerBaicx35{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(to right, rgb(242, 242, 242), rgb(250, 247, 247));
}
.containerBaicx35 h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.descBAICX35{
    width: 100%;
    height: 20vh;
}
.textX35{
     
    width: 100%;
    height: 50vh;
    font-size: 1rem;
    min-width: 250px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.imgContentBaicX35 img{
    vertical-align: middle;
    display: inline-block;
    height: auto;
    width: 90vw;
    max-width: 100%;     
 }
 .baic-x35-equipment{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px auto;
 }
 .all-equipment-x35{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 1px solid ;
    margin: 10px;
 }
 .all-equipment-x35 p{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
 }
 .all-equipment-x35 img{
    width: 100px;
    padding: 6px;
    margin: 10px 50px;
    background-color: rgb(247, 247, 247);
    box-shadow: 8px 5px 7px 3px #afafaf;
    border-radius: 50%;
    
 }
 .containerbaicx35-1{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
 }
 .firstTitleX35{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .firstTitleX35 p{
     font-size: 1.1rem;
     padding: 20px;
     line-height: 1.8;
     width: 30vw;
     color: #6C757D;
     font-family:Verdana, Geneva, Tahoma, sans-serif;

 }
 .firstTitleX35 h3{
     font-size: 1.9rem;
 }

 

 
 
 .containerbaicx35-1 img{
     max-width: 100%;
     width: 500px;
     border-radius: 6px;
     padding: 10px;
    }
    
    .containerbaicx35-2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .containerbaicx35-2 img{
        max-width: 100%;
        width: 500px;
        
       }
    .secondTitleX35{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .secondTitleX35 p{
        font-size: 1.1rem;
        padding: 20px;
        line-height: 1.8;
        width: 30vw;
        color: #6C757D;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .secondTitleX35 h3{
        font-size: 1.9rem;
    }
    .containerbaicx35-3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .containerbaicx35-3 img{
     max-width: 100%;
     width: 500px;
     border-radius: 6px;
     padding: 10px;
    }
    .thirdTitleX35{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .thirdTitleX35 p{
        font-size: 1.1rem;
        padding: 20px;
        line-height: 1.8;
        width: 30vw;
        color: #6C757D;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    }
    .thirdTitleX35 h3{
        font-size: 1.9rem;
    }
    .containerbaicx35-4{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .containerbaicx35-4 img{
        max-width: 100%;
        width: 500px;
        
    }
    .fourthTitleX35{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fourthTitleX35 p{
        font-size: 1.1rem;
        padding: 20px;
        line-height: 1.8;
        width: 30vw;
        color: #6C757D;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .fourthTitleX35 h3{
        font-size: 1.9rem;
        
    }
       
    

 @media screen and (max-width: 768px) {
     .containerBaicx35{
         display: flex;
         flex-direction: column;
     }
     .descBAICX35{
         font-size: 1rem;
     }
     .textX35{
         padding: 0;
         margin: 0;
         width: 90vw;
         height: 40vh;
         font-size: 1rem;
     }
     .textX35 h1{
         font-size: 3rem;
     }
     .containerbaicx35-1{
         display: flex;
         flex-direction: column;
     }
     .containerbaicx35-1 img{
         width: 100%;
     }
     .firstTitleX35 p{
         width: 90vw;
     }
     .firstTitleX35 h3{
         font-size: 1.5;
     }
     .firstTitleX35 p{
         font-size: .9rem;
     }
     .containerbaicx35-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .containerbaicx35-2 img{
        width: 100%;
        height: 250px;
    }
     .secondTitleX35 p{
         width: 90vw;
     }
     .secondTitleX35 h3{
         font-size: 1.5;
     }
     .secondTitleX35 p{
         font-size: .9rem;
     }
     .containerbaicx35-3{
        display: flex;
        flex-direction: column;
    }
    .containerbaicx35-3 img{
        width: 100%;
    }
    .thirdTitleX35 p{
        width: 90vw;
    }
    .thirdTitleX35 h3{
        font-size: 1.5;
    }
    .thirdTitleX35 p{
        font-size: .9rem;
    }

    .containerbaicx35-4{
        display: flex;
        flex-direction: column-reverse;
    }
    .containerbaicx35-4 img{
        width: 100%;
        height: 250px;
    }
     .fourthTitleX35 p{
         width: 90vw;
     }
     .fourthTitleX35 h3{
         font-size: 1.5;
     }
     .fourthTitleX35 p{
         font-size: .9rem;
     }
    

 }














                            /* BAIC */

                            .h1BAIC{
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                
                            }
                            .titleNosotros{
                                display: flex;
                                justify-content: center;
                                margin: 100px;
                                padding: 16px;
                                font-family:sans-serif;
                                display: flex;
                                justify-content: start;
                                font-size: 2rem;
                                color: #d04242;
                               
                            
                            }
                            
                            .containerNosotros{
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                margin: 50px;
                            }
                            .containerImg{
                                width: 100px;
                            }
                            .containerNosotros img{
                                width: 300px;
                            }
                            .containerNosotros h2{
                                color: #c04444;
                                margin: 30px;
                                padding: 15px;
                            }
                            .containerNosotros p{
                                margin: 30px;
                                padding: 15px;
                            }
                            
                            footer{
                                background-color: rgb(55, 52, 52);
                                width: 100%;
                                height: 300px;
                                font-family: sans-serif;
                            }
                            footer h2{
                                color: #A30005;
                                font-size: 2rem;
                                font-family: 'Cairo', sans-serif;
                            }
                            
                            
                            
                            footer ul li{
                                list-style-type: none;
                            }
                            footer ul li a{
                                text-decoration: none;
                                color: white;
                                transition: transform 1s, color 0.5s ;
                            }
                            footer ul li a:hover{
                                color: orange;
                                transform: scale(1.1);
                            }
                            .containerFooter{
                                display: flex;
                                justify-content: space-around;
                                
                            }
                            .containerFooterNosotros{
                                align-items: center;
                            }
                            .containerRedes{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .icon{
                                display: flex;
                                justify-content: center;
                                color:#d04242;
                            }
                            .icon{
                                background-color: white;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 50px;
                                border: red;
                                transition: background-color 0.5s, transform 1s;
                            }
                            .icon:hover{
                                background-color: rgb(175, 173, 173);
                                transform: scale(1.4);
                            
                            
                            }
                            
                            
                            @media screen and (max-width: 768px){
                                .containerNosotros{
                                    display: flex;
                                    flex-direction: column;
                                justify-content: start;
                                margin: 10px auto;
                                }
                               
                                footer{
                                  height: 500px;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                }
                                footer li{
                                    display: flex;
                                    justify-content: center;
                                }
                                footer h2{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 40px;
                                }
                                .containerAllFooter{
                                    display: grid;
                                    grid-template-columns: repeat(1, 1fr);
                                }
                                .containerImg{
                                    width: 100%;
                                    margin: 0 auto;
                                }
                                .containerNosotros img{
                                    max-width: 100%;
                                    
                                    
                                }
                                .icon{
                                    background-color: white;
                                    align-items: center;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50px;
                                    transition: background-color 0.5s, transform 1s;
                                }
                                .icon:hover{
                                    background-color: rgb(175, 173, 173);
                                    transform: scale(1.1);
                                }
                                .containerRedes{
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .containerFooter{
                                    display: grid;
                                    grid-template-columns: repeat(1, 1fr);
                                }
                            
                            }














                       /* Concesionarios */




                       




                       .titleConcesionarios{
                        display: flex;
                        justify-content: center;
                        margin: 50px;
                        padding: 34px;
                        max-width: 100%;
                        color: #b30c12;
                    }
                    
                    .concesionariosTable{
                        display: flex;
                        justify-content: center;
                        max-width: 100%;
                    
                    
                    }
                    .concesionariosTable td{
                        margin: 10px;
                        padding: 6px;
                        line-height: 2;
                        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                    .verUbicacionBtn{
                        display: flex;
                        justify-content: center;
                        max-width: 100%;
                    }
                    .botonConces{
                        background-color: #9D0208;
                        margin-bottom: 50px;
                        transition: all 0.6s;
                    
                        
                    }
                    .botonConces:hover{
                        background-color:#821418;
                        color: orange;
                    
                    }
                    
                    .containerImgConce{
                        display: flex;
                        flex-direction:column;
                        margin: 10px;
                        padding: 16px;
                       
                       
                    }
                    .containerImgConce img{
                        /* width: 400px; */
                        margin-top: 20px;
                        margin-bottom: 20px;
                        max-width: 100%;
                        
                    }
                    
                    @media screen and (max-width: 768px){

                    }



                     




                            /* Contacto */


.containerh1Contacto{
    width: 100%;
    margin-top: 100px;
}

.h1contacto{
    color: #ae0723;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 2rem;
}
                            
.form-section {
    width: 400px;
    background: #ae0723;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;

}
.form-section h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.controls {
    width: 100%;
    background: #e44242;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #f00b2a;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(255, 180, 40);
}
.controls:focus{
    background-color: rgb(173, 173, 173);
}

.acceptAndDate--lugar {
    width: 100%;
    padding: 5px;
    margin: 0px;
    padding: 10px;
    /* margin-right: 30px; */
    background: #e44242;
    color: white;
    
}
.buttomSubmit {
  /*   padding: 4px;
    margin: 8px;
    margin-left: 250px;
    color: rgb(150, 140, 140);
    background: #851f2a;
    border: 1px solid black;
    border-radius: 5px; */
    width: 100%;
    background: #EF233C;
    border: none;
    padding: 20px;
    color: white;
    margin: 40px 0;
    font-size: 16px;
    border-radius: 8px;
    transition: color 1s, transform 1s;
    

}
.buttomSubmit:hover {
    color: orange;
    transform: scale(1.1);
  
}
.googleMapContacto {
    
    width:100%; 
    height:400px;
}



@media screen and (max-width: 768px) {
    .containerConGrid {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 400px;
        font-size: 1rem;
    }
    .form-section{
        max-width: 100%;
    }
    .h1contacto{
        font-size: 1.8rem;
    }

}