                            /*INICIO*/
* {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: rgb(214, 63, 63);
    background-image: radial-gradient(red, rgb(155, 11, 11));
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    top: 0px;
    position: fixed;
    z-index: 1;



}
.navHeader {
    display: flex;
    justify-content: center;
}

header a img {

    height: 70px;
    width: 85px;
    transition: transform 1s;
}
header a img:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
    color: rgb(60, 57, 57);
    margin: 10px 400px;
    position: absolute;
    margin-top: 10px;
    margin: 10px;

}

header nav ul li {
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-right: 70px;
    padding: 12px;
    position: relative;
    left: 15rem;
    font-size: 20px;
    transition: transform 1s;



}
header nav ul li:hover {
    color: orange;
    transform: scale(1.1);
}

header a {
    color: white;
}
header a:hover {
    color: orange;
}




p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8;
    font-size: 1.1rem;
    color: black;

}





.tituloNovedades {
    list-style-type: circle;
    font-size: 25px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding: 10px;
    margin: 25px 0px;
    margin-bottom: 100px;
    position: relative;
    top: 40px;
    transition: 0.3s;

}
.tituloNovedades:hover {
    color: red;
}
.containerTarjeta {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    padding: 35px;
}
.tituloDeTarjeta {
    display: flex;
    justify-content: center;
}
.boton {
    background: #ce0627;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 100px;
}
.boton:hover {
    background: #ac0521 ;
    color: rgb(255, 177, 32);
}
.conoceBaicTitle {
    font-size: 30px;
    padding: 10px 10px;
    margin: 50px 5px;
    text-align: center;
    position: relative;
    top: 150px;
    color: rgb(192, 68, 68);
}

.conoceBaicDesc {
    position: relative;
    top: 80px;
    font-size: 1.1rem;
    height: 220px;
    width: 80vw;
    text-align: center;
    line-height: 1.8;
    position: relative;
    padding-top: 45px;
    padding: 2rem;
}


.h2Baic {

    font-size: 47px;
    text-align: left;
    font-weight: 500;
    padding: 100px;
    padding-right: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-top: 150px;
    position: relative;




}

.marcaBaic {
    font-size: 1rem;
    line-height: 1.7;
    height: 220px;
    width: 40vw;
    text-align: left;
    position: relative;
    bottom: 100px;
    padding-top: 55px;
    padding-bottom: 10px;
    padding: 10px;


}

.imgAside {
    display: inline-block;
    position: relative;
    left: 45%;
    height: 200px;
    width: 200px;
    bottom: 290px;



}

aside img {
    width: 48vw;
    height: 48vh;

}



a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.baicHonorImg {
    display: inline-block;
    position: relative;
    height: 10vh;
    width: 10vw;
    bottom: 50px;

}

.baicHonorDesc {
    font-size: 1rem;
    height: 220px;
    width: 40vw;
    position: relative;
    left: 750px;
    bottom: 300px;
    padding: 1rem;


}

/* SideBar */


.baic-electric {
    width: 270px;
    height: 200px;
    transition: transform 1s;
}
.baic-electric:hover {
    transform: scale(1.1);
}

.senovaSidebar {
    width: 270px;
    height: 200px;
    transition: transform 1s;
}
.senovaSidebar:hover {
    transform: scale(1.1);
}

.baicPilar {
    width: 240px;
    height: 190px;
    transition: transform 1s;

}
.baicPilar:hover {
    transform: scale(1.1);
}

.containerNovedades {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.sidebar {
    margin: 10px;
    padding: 15px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;




}

.textAside {
    margin-right: 20px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    /*  background-color: red; */
}

footer {

    background-color: rgb(84, 80, 80);
    width: 100%;



}

.footerPages {
    display: flex;
    justify-content: space-around;

}

footer section article nav h4 {
    font-style: italic;
}
footer section article nav h4 a{
    color: rgb(165, 159, 159);
    font-family: 'Times New Roman', Times, serif;
    border: none;
    transition: color 1s, transform 2s, border-bottom 1s;
}
footer section article nav h4 a:hover {
    color: orange;
    transform: scale(1.1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px red;
}

.modelosFooter {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15;
    align-items: center;
}

.nosotrosFooter {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15;
    align-items: center;



    color: rgb(0, 0, 0);

}

@media screen and (max-width: 768px) {
    header {
        height: 155px;
    }

    .logoBaic {
        width: 15%;
        height: 50%;
    }

    header nav ul li {
        font-size: 20px;
        margin: 0px;
        padding: 15px;
        display: inline;
        position: relative;
        left: 100px;
    }

    .conoceBaicTitle {
        margin: 40px 20px;

    }
    .conoceBaicDesc {
        font-size: 1rem;
    }

    .gridConoceBaic {
        display: grid;
        grid-template-columns: 85%;
    }

    .imgSubtitle {
        width: 400px;
        height: 370px;
        margin-right: 10px;

    }

    

    .h2Baic {
        margin: 50px;
        padding: 20px;
        font-size: 2rem;

    }

    .marcaBaic {
        font-size: 15px;
        position: relative;
        bottom: 70px;
        height: 50vh;
        margin: 20px;

    }

    .imgAside {
        position: relative;
        bottom: 520px;
    }



    .containerHonor {
        display: grid;
        grid-template-columns: rep;
    }

    .pBaichonor {
        font-size: 15px;

    }

    .baicHonorDesc {
        font-size: 10px;
        position: relative;
        bottom: 720px;
        left: 400px;
        line-height: 1.5;

    }

    .honorImg {
        width: 410px;
        height: 400px;
    }

    .containerNovedades {
        margin-bottom: 400px;
        display: flex;
        flex-direction: column;

    }

    .sidebar {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        /*   display: grid;
    grid-template-columns: repeat(2, 1fr); */
        width: 100%;
        height: 50%;
    }

    .textAside {
        margin: 0px;
        padding: 0px;

    }

    /* display: flex;
    .imgNovedades {
        justify-content: center;
        align-items: center 
        
    }
    ;*/

    .baicPilar {
        margin: 30px;
        width: 320px;
    }

}










                           /* Modelos */






/* 
.h3Senova {
    font-size: 30px;
    position: relative;
    top: 650px;
    left: 210px;

}

.senovaImg {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: left;
    margin: 1px;
    position: relative;
    top: 150px;
    left: 5px;


}

.h3X35 {
    font-size: 30px;
    position: relative;
    top: 357px;
    left: 860px;

}

.baicX35Img {
    height: 480px;
    width: 480px;
    position: relative;
    top: -150px;
    left: 570px;
}

.h3X55 {
    font-size: 30px;
    position: relative;
    bottom: 10px;
    left: 545px;
    margin: 10px;
    padding: 4px;


}

.baicX55Img {
    height: 480px;
    width: 480px;
    position: relative;
    top: 50px;
    left: 300px;
}
 */

.containerModels {
    margin: 100px 0px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.red1 {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.red1:hover {
    transform: scale(1.1);
}

    
.x35Size {
    width: 45vw;
    height: 40vh;
    position: relative;
    top: 35px;
    transition: 1s;
    
}
.x35Size:hover{
    transform: scale(1.1);
}

.baicX35Img {
    width: 100px;
    height: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.x55Center {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
    transition: 1s;
}
.x55Center:hover {
    transform: scale(1.1);
}
.infoModelos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 400px;
}
.botonInfo {
    background:#ac0521;
}
.botonInfo:hover {
    background:#8d0408;
    color: rgb(235, 154, 5);
    
}

@media screen and (max-width: 768px) {
    .allContainer {
        display: flex;
        justify-content: center;
    }

    .containerModels {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .x35Size {
        width: 70vw;
        position: relative;
        left: 40px;
        
    }
    .title {
        font-family:Arial, Helvetica, sans-serif ;
        font-size: 40px;
        margin: 10px;
        padding: 5px;
        border: 2px black solid;
        border-top: none;
        border-radius: 50px;
    }
    
}









                            /* BAIC */









.img1984 {
    display: flex;
    flex-direction: left;
    margin-left: 10px;
}

.text1984 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding: 5px;
    margin: 5px;
    margin-bottom: 70px;
    position: relative;
    left: 0px;
}

.elPrimerAutoCompleto {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    margin: 30px;
    text-align: left;
}


.title1996 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img1996 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text1996 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.title2002 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}


.img2002 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text2002 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.titlePrimerMercedesBenzNivelNacional {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img2006 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text2006 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.titleBaicMotor2009 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img2009 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text2009 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.primeraMarcaIndependiente2012 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img2012 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text2012 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.title20122 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img20122 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text20122 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.title2013 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img2013 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text2013 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.title20132 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img20132 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text20132 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.title20133 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

.img20133 {
    display: flex;
    flex-direction: left;
    margin-left: 35px;
}

.text20133 {
    font-size: 1.1rem;
    height: 10vh;
    width: 60vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

/* .baicArgentina {
    font-size: 1.1rem;
    height: 50vh;
    width: 80vw;
    line-height: 2.0;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding: 7px;
    margin: 10px;
    margin-bottom: 10px;
} */
.gridContainerBaic {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.gridContainerBaic p {
    font-size: 1,1rem;
    line-height: 1,7;
    height: 100px;
    width: 500px;
    margin: 50px;
    margin-top: 0px;
    padding: 2px;
   /*  padding-top: 55px;
    padding-bottom: 10px;
    padding: 10px; */
}
.gridContainerBaic img {
    margin: 20px;
    padding: 10px;
}
.baicArgentina {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2;
    height: 50vh;
    width: 100%;
    font-size: 17px;
    
}
.tituloCardUno {
    display: flex;
    justify-content: center;
}
.cartaNosotros {
    display: flex;
    justify-content: center;
}

  
@media screen and (max-width: 768px) {
   .gridContainerBaic {
       margin-top: 100px;
       display: grid;
       grid-template-columns: repeat(1, 1fr);

   }
   .gridContainerBaic h3 {
       display: flex;
       justify-content: center;
   }
   .gridContainerBaic div img {
       display: flex;
       justify-content: center;
   }
   .baicArgentina { 
       width: 100%;
       height: 30%;
   }
       
   
}











                       /* Concesionarios */








.concesionariosBaic {
    margin: 150px 50px 10px 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}

.horariosConcesionarios {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: color 0.4s;


    
}
.horariosConcesionarios:hover {
    color: rgb(218, 49, 49);
    
    

}
.verUbicacionBtn {
    display: flex;
    justify-content: center;
}
.botonConces{
    background: #ce0627;
}
.botonConces:hover {
    background: #8d0408;
}

.containerBAICConce {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x25tamano {
    width: 300px;
    height: 200px;
}
.x35tamano {
    width: 300px;
    height: 190px;
    position: relative;
    top: 20px;
    transition: transform 1s;

}
.x35tamano:hover {
    transform: scale(1.1);
}
.x55tamano {
    width: 370px;
}


@media screen and (max-width: 768px) {
    .horariosConcesionarios {
        width: 100%;
        margin-left: 0px;
        align-items: center;
        width: 100vw;
        
    }

}




/* Contacto */


.form-section {
    width: 400px;
    background: #ae0723;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;

}
.form-section h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.controls {
    width: 100%;
    background: #e44242;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #f00b2a;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(255, 180, 40);
}

.acceptAndDate--lugar {
    width: 100%;
    padding: 5px;
    margin: 0px;
    padding: 10px;
    /* margin-right: 30px; */
    background: #e44242;
    color: white;
    
}
.buttomSubmit {
  /*   padding: 4px;
    margin: 8px;
    margin-left: 250px;
    color: rgb(150, 140, 140);
    background: #851f2a;
    border: 1px solid black;
    border-radius: 5px; */
    width: 100%;
    background: #EF233C;
    border: none;
    padding: 20px;
    color: white;
    margin: 40px 0;
    font-size: 16px;
    border-radius: 8px;
    transition: color 1s, transform 1s;
    

}
.buttomSubmit:hover {
    color: orange;
    transform: scale(1.1);
  
}
.googleMapContacto {
    
    width:100%; 
    height:400px;
}
.containerConGrid {
    width: 100%;
    height: 30vh;
    padding: 20px;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);  
    grid-template-areas: 
    "image1 image2 image3"
    "image1 image2 image3"
    "image4 image4 image4";
}

.gridArea {
    border: 1px solid black;
}
.grid1 {
    background-color: #9D0208;
    background-image: url(../Img/twitter.png);
    background-size: cover;
    background-position: center;
    height: 220px;
    
    grid-area: image1;
}
.grid2 {
    background-color: #9D0208;
    background-image: url(../Img/youtube.png);
    background-position: center;
    height: 220px;
    grid-area: image2;
}
.grid3 {
    background-color: #9D0208;
    background-image: url(../Img/instagram.jpg);
    background-position: center;
    height: 220px;
    grid-area: image3;
    
}
.grid4 {
    background-color: #9D0208;
    grid-area: image4;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .containerConGrid {
        display: grid;
        grid-template-areas: 
        "image1 image1"
        "image2 image2"
        "image3 image3";
        width: 1000px;
        height: 500px;
    }

}